* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,li {
  list-style: none;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app .header{
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #c2c2c2;
}

.app .content{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app .content .side{
  width: 180px;
  line-height: 40px;
  border-right: 1px solid #c2c2c2;
}

.app .content .side li{
  padding-left: 20px;
  cursor: pointer;
}

.app .content .side li.active,
.app .content .side li:hover{
  color: #1677ff;
  font-weight: 500;
  background-color: #e6f4ff;
}


.app .content .main{
  padding: 20px 50px; 
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
